<div style="display:flex; padding:10px; justify-content: center">
  <mat-form-field class="example-full-width" style="margin-right: 10px">
    <input
      matInput
      placeholder="Search here"
      value="{{ search }}"
      (input)="handleSearchQuery($event)"
    />
  </mat-form-field>
  <mat-form-field style="margin-right: 10px">
    <mat-label>Order by</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="asc">Ascending</mat-option>
      <mat-option value="desc">Descending</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="searchUsers()"
    style="margin-left: 10px; height:40px"
  >
    Search
  </button>
  <button
    mat-button
    color="primary"
    (click)="cancelSearch()"
    *ngIf="cancel"
    style="height:40px; margin-left: 10px"
  >
    Clear search
  </button>
</div>
<div
  style="display: flex; justify-content: center;flex-wrap: wrap;padding:25px"
>
  <div
    *ngFor="let user of users"
    style="width:150px; margin-top:20px; margin-right:10px"
  >
    <a routerLink="/user-detail/{{ user.id }}"
      ><mat-card
        ><img
          mat-card-image
          src="{{ user.avatar_url }}"
          style="height:150px"
        /><b
          style="overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block!important;
          max-width: 110px;"
          >{{ user.login }}</b
        >
        <mat-card-subtitle>{{ user.login }}</mat-card-subtitle></mat-card
      >
    </a>
  </div>
</div>
<div
  style="display: flex;
justify-content: center;
padding: 36px;"
>
  <button
    mat-button
    (click)="fetchMore()"
    *ngIf="!noMore && !loading && !cancel"
  >
    Fetch More
  </button>
  <h3 *ngIf="noMore">
    No more data to show!!
  </h3>
  <mat-spinner *ngIf="loading" strokeWidth="4"></mat-spinner>
</div>
