<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span style="flex: 1"></span>
    <a
      routerLink="/users"
      style="margin-right: 25px;color: white; text-decoration: none;display: flex;align-items: center"
      ><img
        src="https://img.pngio.com/white-people-png-svg-royalty-free-white-person-png-1000_758.png"
        style="margin-right: 5px;height: 18px;width:20px"
      />Users</a
    >
    <a routerLink="/add-user" style="color: white; text-decoration: none"
      >+ Add User</a
    >
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
