<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/" class="link">{{ title }}</a>
    <span class="flex-1"></span>
    <a routerLink="/users" class="link-sm"
      ><img
        src="https://img.pngio.com/white-people-png-svg-royalty-free-white-person-png-1000_758.png"
        class="toolbar-icon"
      />Users</a
    >
    <a routerLink="/add-user" class="link-sm">+ Add User</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
