<div style="display:flex;flex:1;justify-content: center">
  <div
    *ngFor="let user of detail"
    style="flex:1;
  display: flex;
  align-items: center;flex-direction: column"
  >
    <button
      mat-button
      *ngIf="!edit"
      style="margin-top: 20px;margin-bottom: 20px"
      (click)="onClick()"
    >
      Edit
    </button>
    <div
      *ngIf="edit"
      style="display: flex;margin-top: 20px;margin-bottom: 20px"
    >
      <button mat-button (click)="onCancelEdit()">
        Cancel
      </button>
      <button mat-button (click)="onSave()" style="margin-left: 16px">
        Save
      </button>
    </div>

    <mat-card
      style="width:80%; display:flex;flex-direction: column;margin-bottom: 20px"
      *ngIf="!edit"
      ><img
        mat-card-image
        src="{{ user.avatar_url }}"
        style="height:150px; width:150px; border-radius: 75px; border: 1px solid lightgrey; align-self: center; margin-top: 20px"
      />
      <mat-card-subtitle style="margin-top:16px"
        >Name: {{ user.name }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >Location: {{ user.location }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >User Type: {{ user.type }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >Email: {{ user.email }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >Edited at: {{ user.updated_at }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >URL: {{ user.url }}</mat-card-subtitle
      >
    </mat-card>

    <mat-card
      style="width:80%; display:flex;flex-direction: column;margin-bottom: 20px"
      *ngIf="edit"
      ><img
        mat-card-image
        src="{{ user.avatar_url }}"
        style="height:150px; width:150px; border-radius: 75px; border: 1px solid lightgrey; align-self: center; margin-top: 20px"
      />
      <form class="example-form">
        <mat-form-field class="example-full-width" style="width: 100%">
          <input
            matInput
            placeholder="Name"
            name="name"
            value="{{ user.name }}"
            (input)="handleChange($event)"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
          <input
            matInput
            name="location"
            placeholder="Location"
            value="{{ user.location }}"
            (input)="handleChange($event)"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
          <input
            matInput
            name="userType"
            placeholder="User Type"
            value="{{ user.type }}"
            (input)="handleChange($event)"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
          <input
            matInput
            name="email"
            placeholder="Email"
            value="{{ user.email }}"
            (input)="handleChange($event)"
          />
        </mat-form-field>
        <mat-card-subtitle style="margin-top:16px"
          >Edited at: {{ user.updated_at }}</mat-card-subtitle
        ><mat-card-subtitle style="margin-top:16px"
          >URL: {{ user.url }}</mat-card-subtitle
        >
      </form>
    </mat-card>
  </div>
</div>
