<div style="display:flex;flex:1;justify-content: center" *ngIf="!addUser">
  <div
    *ngFor="let user of editedDetail"
    style="flex:1;
  display: flex;
  align-items: center;flex-direction: column"
  >
    <button
      mat-raised-button
      color="primary"
      *ngIf="!edit"
      style="margin-top: 20px;margin-bottom: 20px;
      margin-bottom: 20px;
      margin-right: 9%;align-self: flex-end"
      (click)="onClick()"
    >
      Edit
    </button>
    <mat-card
      style="width:80%; display:flex;flex-direction: column;margin-bottom: 20px"
      *ngIf="!edit"
      ><img
        mat-card-image
        src="{{ user.avatar_url }}"
        style="height:150px; width:150px; border-radius: 75px; border: 1px solid lightgrey; align-self: center; margin-top: 20px"
      />
      <mat-card-subtitle style="margin-top:16px"
        >Name: {{ user.name }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >Location: {{ user.location }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >User Type: {{ user.type }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >Email: {{ user.email }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >Edited at: {{ user.updated_at }}</mat-card-subtitle
      ><mat-card-subtitle style="margin-top:16px"
        >URL: {{ user.url }}</mat-card-subtitle
      >
    </mat-card>

    <mat-card
      style="width:80%; display:flex;flex-direction: column;margin-bottom: 20px; margin-top: 20px"
      *ngIf="edit"
      ><img
        mat-card-image
        src="{{ user.avatar_url }}"
        style="height:150px; width:150px; border-radius: 75px; border: 1px solid lightgrey; align-self: center; margin-top: 20px"
      />
      <form class="example-form">
        <mat-form-field class="example-full-width" style="width: 100%">
          <input
            matInput
            placeholder="Name"
            name="name"
            value="{{ user.name }}"
            (input)="handleChange($event)"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
          <input
            matInput
            name="location"
            placeholder="Location"
            value="{{ user.location }}"
            (input)="handleChange($event)"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
          <input
            matInput
            name="userType"
            placeholder="User Type"
            value="{{ user.type }}"
            (input)="handleChange($event)"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%">
          <input
            matInput
            name="email"
            placeholder="Email"
            value="{{ user.email }}"
            (input)="handleChange($event)"
          /> </mat-form-field
        ><mat-card-subtitle
          style="margin-top:-14px; color:red"
          *ngIf="emailError"
          >Email is invalid</mat-card-subtitle
        >
        <mat-card-subtitle style="margin-top:16px"
          >Edited at: {{ user.updated_at }}</mat-card-subtitle
        ><mat-card-subtitle style="margin-top:16px"
          >URL: {{ user.url }}</mat-card-subtitle
        >
      </form>
      <div
        *ngIf="edit"
        style="display: flex;margin-top: 20px;margin-bottom: 20px"
      >
        <button
          mat-raised-button
          color="warn"
          (click)="onCancelEdit()"
          style="width:100%;margin-right: 16px"
        >
          Cancel
        </button>
        <button
          mat-button
          (click)="onSave()"
          mat-raised-button
          color="primary"
          style="width:100%;"
        >
          Save
        </button>
      </div>
    </mat-card>
  </div>
</div>
<div
  *ngIf="addUser"
  style="margin-top:16px;display: flex;justify-content: center"
>
  <mat-card
    style="width:80%; display:flex;flex-direction: column;margin-bottom: 20px"
    ><img
      mat-card-image
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHY5iQaJncQUzx9cH18qaNtwUR7QGDDBYnILwHg6aMB3OT6pEs"
      style="height:150px; width:150px; border-radius: 75px; align-self: center; margin-top: 20px"
    />
    <mat-form-field class="example-full-width" style="width: 100%">
      <input
        matInput
        placeholder="Name"
        name="name"
        value="{{ editedDetail.name }}"
        (input)="handleChange($event)"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%">
      <input
        matInput
        name="location"
        placeholder="Location"
        value="{{ editedDetail.location }}"
        (input)="handleChange($event)"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%">
      <input
        matInput
        name="userType"
        placeholder="User Type"
        value="{{ editedDetail.userType }}"
        (input)="handleChange($event)"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%">
      <input
        matInput
        name="email"
        placeholder="Email"
        value="{{ editedDetail.email }}"
        (input)="handleChange($event)"
      /> </mat-form-field
    ><mat-card-subtitle style="margin-top:-14px; color:red" *ngIf="emailError"
      >Email is invalid</mat-card-subtitle
    >
    <button mat-raised-button color="primary" (click)="onSave()">
      Add User
    </button>
  </mat-card>
</div>
